body{
    background-color: lightseagreen;
    font-family: 'Karla', sans-serif;
    color: #293264;
}

.app{
    margin: 100px auto;
    padding-bottom: 30px;
    border: 10px rgb(6, 133, 126) solid;
}

.app,
.start-container{
    border-radius: 5px;
    background-color: aliceblue;
}

.start-container{
    height: 500px;
    margin: 0px auto;
    padding-top: 50px;
    
}

.start-container,
.question,
.total{
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

h3{
    font-weight: 400;
    margin-top: 0;
    font-size: 1.25rem;
}

.label{
    color: rgb(6, 133, 126);
}

.custom-select select{
    margin: 20px;
    width: 300px;
    background-color: rgb(223, 221, 221);
    padding: 10px;
    border-radius: 2px;
    font-family: inherit;
    color: inherit;
}

.container{
    width: 100%;
}

.answer-box{
    flex-direction: column;
    margin: 10px 20px 20px;
    padding: 15px;
    border-bottom: 1px solid lightgrey
}

.answer-box,
.answer,
.check-btn, 
.playAgain-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.question{
    font-size: 1.15rem;
    padding: 0 20px
}

.answer{
    font-size: 0.85rem;
    font-weight: bold;
    width: 200px;
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}

button,
.answer-box{
    cursor: pointer;
}

button{
    color: inherit;
}

.start-btn, 
.check-btn, 
.playAgain-btn{
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    color: white;    
    font-weight: 500;
    font-size: 1rem;
}

.start-btn, 
.check-btn, 
.playAgain-btn,
.answer,
.custom-select select{
    border: none;
}

.check-btn, .playAgain-btn{
    margin: 30px auto;
}

.total{
    margin-top: 20px;
}

@media (min-width: 600px) {
    .app{
        width: 600px;
    }
    .answer-box{
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-around;
    }
}

@media (min-width: 900px) {
    .app{
        width: 900px;
    }
    .answer-box{
        flex-wrap: nowrap;
    }
}

