body{
    background-color: lightseagreen;
    font-family: 'Karla', sans-serif;
    color: #293264;
}

.app{
    margin: 100px auto;
    padding-bottom: 30px;
}

.app,
.start-container{
    border-radius: 5px;
    background-image: url('../images/intro-page.png');
}

.start-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

h3{
    font-weight: 400;
    margin-top: 0;
    font-size: 1.25rem;
}

.label{
    color: rgb(85, 85, 85);
}

.custom-select select{
    margin: 20px;
    width: 300px;
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-family: inherit;
    color: inherit;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.answer-box{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid grey;
    margin: 10px 20px;
}

.question{
    font-size: 1rem;
    text-align: center;
    padding: 0 20px
}

.answer{
    display: flex;
    font-size: 0.85rem;
    width: 200px;
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}
.start-btn, .check-btn, .playAgain-btn{
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color: white;    
    font-weight: 500;
    font-size: 1rem;
}

.check-btn, .playAgain-btn{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.total{
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .app{
        width: 600px;
    }
    .answer-box{
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-around;
    }
}

@media (min-width: 900px) {
    .app{
        width: 900px;
    }
    .answer-box{
        flex-wrap: nowrap;

    }
}

